<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367155018407-eeag1be667s265fk8cjbshgas6imvb8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367155018407-eeag1be667s265fk8cjbshgas6imvb8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>367155018407-tm4t1felbdfs638vgoujtntgl5vstbqv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5MukWqp85OGGKL0xWqVOKQaRtRNBrIzI</string>
	<key>GCM_SENDER_ID</key>
	<string>367155018407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minischool.minitvios</string>
	<key>PROJECT_ID</key>
	<string>minitv-151b8</string>
	<key>STORAGE_BUCKET</key>
	<string>minitv-151b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367155018407:ios:50d760dc41798df410b982</string>
	<key>DATABASE_URL</key>
	<string>https://minitv-151b8.firebaseio.com</string>
</dict>
</plist>